.buscador {
    max-width: 300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 200px;
    margin: 10px;
    display: block;
    float: left;
}

.thumbnail.thumbnail-sin-padding {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.form-control.form-control-chico {
    width: 50px;
}

footer {
    margin: 50px 0;
}

.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 1rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}

.card.card-small {
    max-height: 281.344px;
}

.imagen-logo {
    max-height: 120px;
}

.link-logo {
    padding: 0px;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -450px !important;
    display: block;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-toggle {
    z-index:3;
}

.navbar.navbar-small {
    max-height: 90px;
}

.texto-corto {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 32px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}

.star-readonly {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
    content: '\f005';
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
    padding: 2px 16px;
}

